<section>
    <div class="form-vertical">
        <br>

        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="java7.png" width="64px" height="64px"/>
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="mysqlicon.png" width="64px" height="64px"/>
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="css3-icon.png" width="64px" height="64px">
        </div>
        <br>

        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="apple-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="html5-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="android-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="bootstrap-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="github-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="angular-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="js-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="intellij-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="inventor-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="word-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="excel-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <img src="powerpoint-icon.png" width="64px" height="64px">
        </div>
        <div class="bottompad col-md-3 col-md-offset-1">
            <div class="ih-item circle effect">
                <div class="spinner"></div>
                <div class="img"><img src="bootstrap-icon.png" width="64px" height="64px" alt="img"></div>
                <div class="info">
                    <div class="info-back">
                        <h3>Java</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>