<section>
    <div class="form-vertical">
        <div class="col-md-10 col-md-offset-2">
            <button type="button" class="btn btn-info">JAVA</button>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <button type="button" class="btn btn-info">HIBERNATE</button>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <button type="button" class="btn btn-info">SPRING</button>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <button type="button" class="btn btn-warning">HTML 5</button>
        </div>
    </div>
</section>